spring:
  cloud:
    loadbalancer:
      retry:
        enabled: true
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        default-schema: comment-service
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5433/ewmdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 12345

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        retryer:
          period: 1000
          maxPeriod: 5000
          maxAttempts: 5

logging:
  level:
    org.springframework:
      orm.jpa: INFO
      transaction: INFO
      transaction.interceptor: TRACE
      orm.jpa.JpaTransactionManager: DEBUG

server:
  port: 0
  shutdown: graceful