stats:
  kafka:
    bootstrap-servers: localhost:9092
    user-actions-topic: stats.user-actions.v1
    events-similarity-topic: stats.events-similarity.v1
    user-actions-group-id: analyzer-consumer-user-actions-group
    events-similarity-group-id: analyzer-consumer-events-similarity-group
    auto-offset-reset: latest

management:
  endpoints:
    web:
      exposure:
        include: health,metrics

spring:
  jpa:
    hibernate.ddl-auto: none
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
    show-sql: true
  database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql.init.mode: always
  datasource:
    url: jdbc:postgresql://localhost:5432/statsdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 12345

server:
  port: 0
  shutdown: graceful
grpc:
  server:
    port: 0